[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
build = "*"
coverage = "*"
flake8 = "*"
invoke = "*"
pytest = "*"
twine = "*"

[requires]
python_version = "3"
